body {
  font-family: 'Nunito', sans-serif;
}

#gameContainer {
  margin: 0 auto;
  text-align: center;
}

.playerOptions {
  margin: 20px;
}

.optionButton {
  padding: 20px;
  margin: 10px;
}

.far {
  font-size: 3em;
}
